#efect {
    transition: 0.5s ease;
}

#efect:hover {
    
    transform: translateY(3px);
}


.efect2 {
    transition: 0.5s ease;
}

.efect2:hover {
    transform: translateY(6px);
}


.efect3 {
    transition: 0.8s ease;
}

.efect3:hover {
    transform: translateY(6px);
}